In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:/Users/2023/Downloads/dataset/cleaned_data_data.csv')

In [2]:
df.head(1)

,SubmissionDate,starttime,endtime,deviceid,subscriberid,simid,devicephonenum,username,duration,interviewer_name,...,i_spend_entertainment,i_totalexp,i_expenditure,i_savings,i_loan,i_loan_amt,i_loan_rate,i_highest,i_lowest,formdef_version
0,2021-11-13 19:10:21,2021-11-13 13:12:59,2021-11-13 13:23:11,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,487,Gunjan Kumari,...,300.0,3250.0,11000.0,-98.0,Yes,6000.0,2.0,-98.0,3000.0,2111090155

In [3]:
#  unique values in the 'agree' column
unue_iqvalues = df['agree'].unique()

# Display the unique values -100 and -1 i have alredy done 0 as no and 1 as yes
print(unique_values)

['Yes' '-100' 'No' '-1']

In [4]:
# Replace '-100' with 'Error' and '-1' with 'Unknown'
df['agree'] = df['agree'].replace({'-100': 'Did not consent', '-1': 'Refused to answer'})

# Verify the change
print(df['agree'].unique())

['Yes' 'Did not consent' 'No' 'Refused to answer']

In [5]:
df.head(10)

,SubmissionDate,starttime,endtime,deviceid,subscriberid,simid,devicephonenum,username,duration,interviewer_name,...,i_spend_entertainment,i_totalexp,i_expenditure,i_savings,i_loan,i_loan_amt,i_loan_rate,i_highest,i_lowest,formdef_version
0,2021-11-13 19:10:21,2021-11-13 13:12:59,2021-11-13 13:23:11,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,487,Gunjan Kumari,...,300.0,3250.0,11000.0,-98.0,Yes,6000.000000,2.0,-98.0,3000.0,2111090155
1,2021-11-13 19:10:22,2021-11-13 13:24:01,2021-11-13 13:35:51,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,661,Gunjan Kumari,...,250.0,3099.0,6000.0,-98.0,No,58458.609756,0.07317073170731707,-98.0,-98.0,2111131313
2,2021-11-13 19:10:22,2021-11-13 13:39:04,2021-11-13 13:50:27,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,659,Gunjan Kumari,...,1000.0,7000.0,20000.0,-98.0,No,58458.609756,0.07317073170731707,-98.0,-98.0,2111131313
3,2021-11-13 19:10:23,2021-11-13 17:04:27,2021-11-13 17:14:15,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,588,Gunjan Kumari,...,700.0,3200.0,16000.0,4000.0,Yes,50000.000000,5.0,25000.0,5000.0,2111131313
4,2021-11-13 19:10:23,2021-11-13 17:15:16,2021-11-13 17:25:23,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,568,Gunjan Kumari,...,500.0,2250.0,10000.0,3000.0,No,58458.609756,0.07317073170731707,-99.0,-98.0,2111131313
5,2021-11-13 19:10:24,2021-11-13 17:25:40,2021-11-13 17:36:30,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,574,Gunjan Kumari,...,400.0,2150.0,12000.0,-98.0,Yes,10000.000000,2.0,-98.0,-98.0,2111131313
6,2021-11-13 19:10:24,2021-11-13 17:38:00,2021-11-13 17:48:37,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,599,Gunjan Kumari,...,400.0,2700.0,8000.0,1000.0,Yes,20000.000000,3.0,-98.0,-98.0,2111131313
7,2021-11-13 19:10:25,2021-11-13 17:50:18,2021-11-13 17:56:49,ef443f91bed409a9,405864986514130,NaN,9.179798e+11,uchicago,392,Gunjan Kumari,...,800.0,4800.0,16000.0,5000.0,No,58458.609756,0.07317073170731707,-99.0,-99.0,2111131313
8,2021-11-13 19:13:50,2021-11-11 15:16:04,2021-11-13 19:06:54,359475073412828,405864986514130,NaN,NaN,contact@outlineindia.com,2085,Simaila,...,No,5799.0,8000.0,15000.0,No,58458.609756,0.07317073170731707,-99.0,1000.0,2111111118
9,2021-11-13 19:13:50,2021-11-13 12:21:52,2021-11-13 19:05:57,359475073412828,405864986514130,NaN,NaN,contact@outlineindia.com,1170,Simaila Kumari,...,No,7199.0,12000.0,-99.0,No,58458.609756,0.07317073170731707,10000.0,5000.0,2111111118

In [6]:
# View unique values in the 'hh_BPL_bin' column
unique_values = df['hh_BPL_bin'].unique()
print(unique_values)

['Yes' 'No' nan '-999.0']

In [7]:
pd.set_option('display.max_rows', None)
print(df['hh_BPL_bin'])

0         Yes
1         Yes
2          No
3         Yes
4          No
5          No
6         Yes
7         Yes
8          No
9         Yes
10        Yes
11        NaN
12         No
13         No
14        Yes
15        Yes
16         No
17        Yes
18        Yes
19        Yes
20        Yes
21        Yes
22        Yes
23         No
24        Yes
25         No
26        Yes
27        Yes
28        NaN
29        Yes
30         No
31         No
32         No
33         No
34         No
35         No
36         No
37         No
38        Yes
39        Yes
40        Yes
41        Yes
42        Yes
43        Yes
44        Yes
45        Yes
46         No
47         No
48         No
49        Yes
50        Yes
51         No
52         No
53         No
54         No
55         No
56        Yes
57        Yes
58        Yes
59        Yes
60         No
61         No
62        Yes
63         No
64        Yes
65        Yes
66        NaN
67         No
68        Yes
69        Yes
70        Yes
71        Yes
72         No
73        Yes
74        NaN
75         No
76        Yes
77        Yes
78         No
79         No
80        Yes
81        Yes
82         No
83        Yes
84         No
85        Yes
86     -999.0
87         No
88        Yes
89        Yes
90         No
91        Yes
92        Yes
93        NaN
94        NaN
95        Yes
96        NaN
97        NaN
98        Yes
99        Yes
100       NaN
101       Yes
102       Yes
103       Yes
104       Yes
105        No
106        No
107       NaN
108        No
109        No
110       Yes
111       NaN
112       Yes
113       Yes
114       Yes
115        No
116       Yes
117       Yes
118       Yes
119        No
120       Yes
121       Yes
122       Yes
123       Yes
124       Yes
125        No
126        No
127        No
128       Yes
129       Yes
130        No
131        No
132       Yes
133        No
134        No
135       Yes
136       Yes
137       Yes
138       Yes
139       Yes
140       Yes
141       Yes
142       Yes
143       Yes
144       Yes
145       Yes
146       Yes
Name: hh_BPL_bin, dtype: object

In [8]:
print(df['hh_BPL_bin'].dtype)

object

In [ ]:
# Replace '-999' and '-999.0' (as strings) with 'Don't know' in the 'hh_BPL_bin' column
df['hh_BPL_bin'] = df['hh_BPL_bin'].replace({'-999': 'Don\'t know', '-999.0': 'Don\'t know'})

# Verify the change
print(df['hh_BPL_bin'].unique())

In [ ]:
# Check unique values for specific columns
columns_to_check = ['el_source', 'el_source_1', 'el_source_2', 'el_source_3', 'el_source_4', 'el_source_5', 'el_source__999', 'el_source__1', 'el_source__100']

for column in columns_to_check:
    unique_values = df[column].unique()
    print(f"Unique values in {column}: {unique_values}")

In [9]:
df['el_source'] = df['el_source'].astype(str).str.strip()

# Replace 1 with 'Yes'
df['el_source'] = df['el_source'].replace({'1': 'Yes'})

print(df['el_source'].unique())

['Yes' '1 5' 'nan' '1 3']

In [ ]:
columns_to_check = ['el_bill_bin', 'el_bill_date', 'el_bill_amt']

for column in columns_to_check:
    unique_values = df[column].unique()
    print(f"Unique values in {column}: {unique_values}")

In [ ]:

# Strip any leading/trailing whitespaces before replacing
df['el_bill_bin'] = df['el_bill_bin'].str.strip()

# Replace '-1.0' with 'Refused to answer'
df['el_bill_bin'] = df['el_bill_bin'].replace({'-1.0': 'Refused to answer'})

# Verify the change
print(df['el_bill_bin'].unique())

In [ ]:

# Replace '-100' with 'Did not consent' and '-999.0' with 'Don't know'
df['el_bill_date'] = df['el_bill_date'].replace({-100: 'Did not consent', -999.0: 'Don\'t know'})
print(df['el_bill_date'].unique())

In [ ]:
columns_to_check = ['el_pay_freq', 'el_pay_freq', 'el_pay_freq']

for column in columns_to_check:
    unique_values = df[column].unique()
    print(f"Unique values in {column}: {unique_values}")

In [ ]:

replacement_dict = {
    '3.0': 'Every 3 months',
    'Yes': 'Monthly',
    '2.0': 'Every two months',
    '4.0': 'Less than once in 3 months',
    '5.0': 'Other',
    '-999.0': 'Don\'t know'
}

df['el_pay_freq'] = df['el_pay_freq'].replace(replacement_dict)

print(df['el_pay_freq'].unique())

In [ ]:
print(df['el_pay_freq'].unique())

In [ ]:
columns = [
    'el_unpaid_reason_2', 'el_unpaid_reason_3', 'el_unpaid_reason_4',
    'el_unpaid_reason_5', 'el_unpaid_reason_6', 'el_unpaid_reason_7',
    'el_unpaid_reason_8', 'el_unpaid_reason__999', 'el_unpaid_reason__1', 'el_unpaid_reason__100'
]

# Check the unique values in each of the specified columns
for col in columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())

In [ ]:
columns = ['el_right']

# Check the unique values in each of the specified columns
for col in columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())

In [ ]:
df['el_right'] = df['el_right'].replace({'-999.0':'Don\'t know', '-1.0':'Refused to answer', 'Very unlikely': 'Yes'})
print(df['el_right'].unique())

In [ ]:
columns = ['el_notice']

# Check the unique values in each of the specified columns
for col in columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())

In [ ]:

df['el_notice'] = df['el_notice'].astype(str)

# these are specific values with corresponding labels
df['el_notice'] = df['el_notice'].replace({
    '-999.0': "Don't know",
    '-1.0': 'Refused to answer',
    '5.0': 'Very Likely',
    '4.0': 'Somewhat likely',
    '3.0': 'Neither unlikely or likely',
    '2.0': 'Somewhat unlikely',
    '-100.0': 'Does not consent',
    'Yes': 'Very unlikely',
})


print("Unique values in el_notice after replacement:")
print(df['el_notice'].unique())

In [ ]:
columns = ['el_unpaid_nbr']

# Check the unique values in each of the specified columns
for col in columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())

In [ ]:
# Replace values in 'el_unpaid_nbr' with labels
df['el_unpaid_nbr'] = df['el_unpaid_nbr'].replace({
    '4.0': 'Almost everybody pays on time and in full',                   
    '3.0': 'More than 50 percent pay on time and in full',               
    '2.0': 'Less than 50 percent pay on time and in full',   
    '-999.0': "Don\'t know",                 
    '-1.0': 'Refused to answer',           
    '-100.0': 'Does not consent',           
    'Yes': 'Almost nobody pays on time in full',                                    
})

print("Unique values in el_unpaid_nbr after replacement:")
print(df['el_unpaid_nbr'].unique())

In [ ]:
df['el_disconnect'] = df['el_disconnect'].replace({
    
    '-999.0': "Don\'t know",                 
    '-1.0': 'Refused to answer',                                               
})

print(df['el_disconnect'].unique())

In [ ]:
columns = ['i_source']

# Check the unique values in each of the specified columns
for col in columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())

In [ ]:
# Define the replacements for i_source
i_source_labels = {
    'Yes': 'Agriculture and related activities',
    '2.0': 'Pension and Income',
    '3.0': 'Small business',
    '4.0': 'Professional',
    '5.0': 'Small industry/mill/factory',
    '6.0': 'Transportation',
    '7.0': 'Construction',
    '8.0': 'Income from remittances',
    '9.0': 'Rent/dividend',
    '10.0': 'Forest based livelihood',
    '11.0': 'Other',
    '-999.0': 'Don\'t know',
    '-1.0': 'Refused to answer',
    '-100.0': "Did not consent",
    
}


df['i_source'] = df['i_source'].astype(str)

df['i_source'] = df['i_source'].replace(i_source_labels)


print("Unique values in i_source after replacement:")
print(df['i_source'].unique())

In [ ]:
columns = ['i_loan']

# Check the unique values in each of the specified columns
for col in columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())

In [ ]:
i_loan_labels = {
    '-999.0': "Don't know",
    '-1.0': 'Refused to answer',
    '-100.0': "Did not consent"
}

df['i_loan'] = df['i_loan'].astype(str)
df['i_loan'] = df['i_loan'].replace(i_loan_labels)


print("Unique values in i_loan after replacement:")
print(df['i_loan'].unique())

In [ ]:
# Save DataFrame to a new CSV file
df.to_csv('C:/Users/2023/Downloads/dataset/labeled_data.csv', index=False)
#here i have save my cleaned data to a new csv file named labeled_data.csv 
print("CSV file saved successfully!")

In [89]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


df = pd.read_csv('C:/Users/2023/Downloads/dataset/labeled_data.csv')    #loaded the data from the csv file

In [90]:
#for cleaning further anlysis i will drop some of the irrelavent columns

df = df.drop(columns=['SubmissionDate', 'starttime', 'endtime', 'deviceid', 'subscriberid', 'simid', 'devicephonenum', 'username'], errors='ignore')

#no use of this data

In [91]:
#Likely related to internal mapping

df= df.drop(columns=['list_id', 'list_id_1'] ,errors= 'ignore')   #droped irrelavent columns

In [92]:
df['el_disconnect'] = df['el_disconnect'].replace({'Yes': 1})

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

#  the average loan amount by unpaid reason
loan_by_unpaid_reason = df.groupby('el_unpaid_reason')['i_loan_amt'].mean().sort_values(ascending=False)

plt.figure(figsize=(8, 6))
sns.barplot(x=loan_by_unpaid_reason.index, y=loan_by_unpaid_reason.values, palette='Set2')
plt.title('Average Loan Amount by Unpaid Reason', fontsize=16, fontweight='bold')
plt.xlabel('Reason for Unpaid Bill', fontsize=14)
plt.ylabel('Average Loan Amount (in USD)', fontsize=14)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [103]:
df['el_unpaid_reason'] = df['el_unpaid_reason'].replace({
    1: "Can't afford to pay",
    2: "No punishment for late payments",
    3: "Service quality is poor",
    4: "Electricity is a right; shouldn't have to pay",
    5: "Going to the payment location takes a long time",
    6: "My bills are often incorrect",
    7: "I always pay in full",
    8: "Other",
    -999: "Don't know",
    -1: "Refused to answer",
    -100: "Did not consent/didn't reach this question"
})

In [ ]:
# Calculate the average loan amount by unpaid reason
loan_by_unpaid_reason = (
    df.groupby('el_unpaid_reason')['i_loan_amt']
    .mean()
    .sort_values(ascending=False)
)

plt.figure(figsize=(10, 6))
sns.barplot(
    x=loan_by_unpaid_reason.index,
    y=loan_by_unpaid_reason.values,
    hue=loan_by_unpaid_reason.index,
    palette='Set2',
    dodge=False 
)

plt.title('Average Loan Amount by Unpaid Reason', fontsize=16, fontweight='bold')
plt.xlabel('Reason for Unpaid Bill', fontsize=14)
plt.ylabel('Average Loan Amount (in USD)', fontsize=14)
plt.xticks(rotation=45, ha='right', fontsize=10)
plt.legend([], [], frameon=False) 
plt.tight_layout()
plt.show()

In [ ]:
# Income Source vs Loan Amount
income_vs_loan = df.groupby('i_source')['i_loan_amt'].mean()
print("\nAverage Loan Amount by Income Source:")
print(income_vs_loan)

# Bar plot for Income Source vs Loan Amount (fix for the FutureWarning)
plt.figure(figsize=(8, 6))
sns.barplot(x=income_vs_loan.index, y=income_vs_loan.values, hue=income_vs_loan.index, palette='Set2', legend=False)
plt.title('Loan Amount by Income Source', fontsize=16, fontweight='bold')
plt.xlabel('Income Source', fontsize=14)
plt.ylabel('Average Loan Amount', fontsize=14)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:

df['hh_size'] = pd.to_numeric(df['hh_size'], errors='coerce')
df['el_hours'] = pd.to_numeric(df['el_hours'], errors='coerce')

# Calculate the correlation between household size and electricity hours
correlation = df[['hh_size', 'el_hours']].corr()
print("\nCorrelation between household size and electricity hours:")
print(correlation)

grouped_by_size = df.groupby('hh_size')['el_hours'].mean().reset_index()

plt.figure(figsize=(8, 5))
sns.lineplot(x='hh_size', y='el_hours', data=grouped_by_size, marker='o', color='blue')
plt.title('Average Electricity Hours by Household Size', fontsize=14)
plt.xlabel('Household Size', fontsize=12)
plt.ylabel('Average Electricity Hours', fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
df.to_csv('C:/Users/2023/Downloads/dataset/labeled_dataa.csv', index=False)

print("CSV file saved successfully!")     #saved file as an backup

In [ ]:
mean_bill = df['el_bill_amt'].mean()
min_bill = df['el_bill_amt'].min()
max_bill = df['el_bill_amt'].max()
median_bill = df['el_bill_amt'].median()
std_dev = df['el_bill_amt'].std()

print(f"Mean Bill Amount: {mean_bill}")
print(f"Minimum Bill Amount: {min_bill}")
print(f"Maximum Bill Amount: {max_bill}")
print(f"Median Bill Amount: {median_bill}")
print(f"Standard Deviation: {std_dev}")

In [ ]:
# Plot histogram for bill amounts
plt.hist(df['el_bill_amt'], bins=10, color='blue', edgecolor='black')
plt.title('Distribution of Bill Amounts')
plt.xlabel('Bill Amount (in Rupees)')
plt.ylabel('Frequency')
plt.show()

In [3]:
# Group by household size and calculate mean bill amount
mean_bill_by_hh_size = df.groupby('hh_size')['el_bill_amt'].mean()
print(mean_bill_by_hh_size)

# Group by BPL status and calculate mean savings
mean_savings_by_bpl = df.groupby('hh_BPL_bin')['i_savings'].mean()
print(mean_savings_by_bpl)

hh_size
10.0    3100.250000
11.0    2200.000000
12.0    1500.000000
13.0    1500.000000
15.0    1450.500000
2.0     1400.000000
20.0     300.000000
3.0     1185.125000
4.0     1200.447368
5.0      825.500000
6.0     1327.000000
7.0     3002.363636
8.0     1141.100000
9.0     1675.000000
Yes             NaN
Name: el_bill_amt, dtype: float64

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Average bill amount by payment frequency
avg_bill_by_pay_freq = df.groupby('el_pay_freq')['el_bill_amt'].mean()
print(avg_bill_by_pay_freq)

# Group by interviewer and calculate average bill amount
avg_bill_by_interviewer = df.groupby('interviewer_name')['el_bill_amt'].mean()
print(avg_bill_by_interviewer)

In [ ]:
# Histogram for bill amount distribution
plt.figure(figsize=(10, 6))
sns.histplot(df['el_bill_amt'], kde=True)
plt.title('Distribution of Bill Amounts')
plt.xlabel('Bill Amount')
plt.ylabel('Frequency')
plt.show()

In [4]:
# chart for household BPL statusie
plt.figure(figsize=(8, 8))
df['hh_BPL_bin'].value_counts().plot.pie(autopct='%1.1f%%', colors=['#ff9999','#66b3ff','#99ff99'], startangle=90)
plt.title('Distribution of Household BPL Status')
plt.ylabel('')
plt.show()

NameError: name 'plt' is not defined

In [134]:
from ydata_profiling import ProfileReport

Report= ProfileReport(df, title ="Data Profiling Report", html={"style": {"full_width": True}})
#for report

In [ ]:
Report.to_file(output_file='analysis.html')     #it saves the report in html form